<!DOCTYPE html>
<html>
  <head>
    <title>Desafio Acelerar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "fontawesome-all.min" %>
    <noscript><%= stylesheet_link_tag "noscript" %></noscript>
    <%= javascript_importmap_tags %>
  </head>

  <body class="is-preload-0 is-preload-1 is-preload-2">
    <%= yield %>
  </body>

  <%# Scripts %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "browser.min" %>
  <%= javascript_include_tag "breakpoints.min" %>
  <%= javascript_include_tag "main" %>

</html>
